# Luci-app组件
CONFIG_PACKAGE_luci-app-argon-config=y
# CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-upnp=m
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-banmac-ipt=y
CONFIG_PACKAGE_luci-app-netem=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-app-cupsd=y
CONFIG_PACKAGE_luci-app-eqosplus=y


CONFIG_PACKAGE_luci-app-dawn=m
CONFIG_PACKAGE_luci-app-iptvhelper=m
CONFIG_PACKAGE_luci-app-msd_lite=m
CONFIG_PACKAGE_luci-app-ksmbd=m
CONFIG_PACKAGE_luci-app-smartdns=m
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-udpxy=m

CONFIG_PACKAGE_luci-app-dnsfilter=m
CONFIG_PACKAGE_luci-app-libreswan=m
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-wireguard=m
CONFIG_PACKAGE_strongswan=m
CONFIG_PACKAGE_strongswan-swanctl=m
CONFIG_PACKAGE_luci-app-strongswan-swanctl=m
CONFIG_PACKAGE_ppp-mod-pppol2tp=m

CONFIG_PACKAGE_luci-app-parentcontrol=m

# CONFIG_PACKAGE_luci-app-easymesh=m

CONFIG_PACKAGE_luci-proto-vxlan=m
CONFIG_PACKAGE_luci-proto-openconnect=m
# CONFIG_PACKAGE_luci-proto-openfortivpn=y
CONFIG_PACKAGE_luci-proto-sstp=m


CONFIG_PACKAGE_libcupsimage=y
CONFIG_PACKAGE_cups-bsd=m
CONFIG_PACKAGE_cups-client=m
CONFIG_PACKAGE_cups-filters=m
CONFIG_PACKAGE_cups-ppdc=m
CONFIG_PACKAGE_brlaser=y

# autoset组件
CONFIG_PACKAGE_autoset=y
# CONFIG_PACKAGE_autoset_INCLUDE_temperature_script=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y


CONFIG_PACKAGE_wget-ssl=m
# CONFIG_PACKAGE_aria2=y
# CONFIG_PACKAGE_ariang=y
#
# Aria2 组件
#
CONFIG_ARIA2_OPENSSL=y

CONFIG_ARIA2_LIBXML2=y

CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_METALINK=y
CONFIG_ARIA2_SFTP=y
CONFIG_ARIA2_ASYNC_DNS=y
CONFIG_ARIA2_COOKIE=y
CONFIG_ARIA2_WEBSOCKET=y


# Curl 组件
# CONFIG_LIBCURL_MBEDTLS is not set
CONFIG_LIBCURL_OPENSSL=y
# CONFIG_PACKAGE_libustream-mbedtls is not set
CONFIG_PACKAGE_libustream-openssl=y
# CONFIG_PACKAGE_libmbedtls is not set

#
# Openssl Engine/Hardware Support
#
CONFIG_OPENSSL_ENGINE=y
CONFIG_PACKAGE_libopenssl-conf=y


# kmod network 组件


CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-l2tp=y

CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-mppe=y
CONFIG_PACKAGE_kmod-ppp-synctty=m
CONFIG_PACKAGE_kmod-pppoa=m
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_kmod-pppox=m
CONFIG_PACKAGE_kmod-pptp=y

CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m

CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tcp-hybla=m
CONFIG_PACKAGE_kmod-tcp-scalable=m

CONFIG_PACKAGE_kmod-wireguard=y

#  network firewall 组件
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_PACKAGE_kmod-ipt-offload=y

CONFIG_PACKAGE_miniupnpd-iptables=m
CONFIG_MINIUPNPD_IGDv2=y
# CONFIG_PACKAGE_miniupnpd-nftables is not set
# CONFIG_PACKAGE_xtables-legacy=y
# CONFIG_PACKAGE_ebtables-legacy=y
# CONFIG_PACKAGE_ebtables-legacy-utils=y

CONFIG_PACKAGE_iptables-mod-fullconenat=y

CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-mod-socket=y
CONFIG_PACKAGE_iptables-mod-iprange=y

# CONFIG_PACKAGE_nftables-json is not set
# CONFIG_PACKAGE_nftables-nojson is not set

# openvpn 组件

CONFIG_PACKAGE_luci-app-openvpn-server-client=m
CONFIG_PACKAGE_openvpn-easy-rsa=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_PACKAGE_wireguard-tools=m



CONFIG_PACKAGE_luci-app-tcpdump=m
CONFIG_PACKAGE_luci-app-omcproxy=m

CONFIG_PACKAGE_luci-app-natmap=n

CONFIG_PACKAGE_tailscale=m

CONFIG_PACKAGE_kmod-zram=y

CONFIG_PACKAGE_zram-swap=y


