# ar71xx:add Pisen Cloud Router support
# based on 841n-cn  this is not complete
# led not working  but it works on machine

CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
# CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr841n-v8-cn=y
CONFIG_TARGET_ar71xx_generic_DEVICE_pisen-cloud-router=y
CONFIG_KERNEL_BUILD_USER="LunaticKochiya"
CONFIG_KERNEL_BUILD_DOMAIN="Github"
