
CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_xwrt_csac="luci-app-cupsd libcupsimage brlaser kmod-fs-ext4 block-mount kmod-usb2 kmod-usb-storage"
CONFIG_TARGET_DEVICE_PACKAGES_ath79_generic_DEVICE_pisen_wpr003n="luci-app-cupsd libcupsimage brlaser kmod-fs-ext4 block-mount kmod-usb2 kmod-usb-storage"
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_pisen_wpr003n=y
CONFIG_TARGET_DEVICE_ath79_generic_DEVICE_xwrt_csac=y
CONFIG_KERNEL_BUILD_USER="LunaticKochiya"
CONFIG_KERNEL_BUILD_DOMAIN="Github"
