# Luci-app组件
CONFIG_PACKAGE_luci-app-argon-config=m

CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-dawn=y
# CONFIG_PACKAGE_luci-app-iptvhelper=m
CONFIG_PACKAGE_luci-app-msd_lite=m
CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-upnp=y
# CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-theme-argon=m
# CONFIG_PACKAGE_luci-app-netem=y
# CONFIG_PACKAGE_luci-app-oaf=y
# CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-sqm=y
# CONFIG_PACKAGE_luci-app-eqosplus=y
# CONFIG_PACKAGE_luci-app-easymesh=y
# CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-banmac-ipt=y
CONFIG_PACKAGE_luci-app-travelmate=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-cupsd=y

CONFIG_PACKAGE_libcupsimage=y
CONFIG_PACKAGE_cups-bsd=m
CONFIG_PACKAGE_cups-client=m
CONFIG_PACKAGE_cups-filters=m
CONFIG_PACKAGE_cups-ppdc=m
CONFIG_PACKAGE_brlaser=y


CONFIG_PACKAGE_luci-proto-sstp=y
# CONFIG_PACKAGE_luci-app-dnsfilter=y
CONFIG_PACKAGE_luci-app-wireguard=m
CONFIG_PACKAGE_ppp-mod-pppol2tp=m

CONFIG_PACKAGE_luci-app-parentcontrol=m

CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-vxlan=y
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-control-weburl=y
CONFIG_PACKAGE_luci-app-timecontrol=y

# autoset组件
CONFIG_PACKAGE_autoset=y
# CONFIG_PACKAGE_autoset_INCLUDE_temperature_script=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y


# CONFIG_PACKAGE_wget-ssl=y




# Curl 组件
# CONFIG_LIBCURL_MBEDTLS is not set
CONFIG_LIBCURL_OPENSSL=y
# CONFIG_PACKAGE_libustream-mbedtls is not set
CONFIG_PACKAGE_libustream-openssl=y
# CONFIG_PACKAGE_libmbedtls is not set

#
# Openssl Engine/Hardware Support
#
CONFIG_OPENSSL_ENGINE=y

#  network firewall 组件
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_PACKAGE_kmod-ipt-offload=y

CONFIG_PACKAGE_miniupnpd-iptables=y
CONFIG_MINIUPNPD_IGDv2=y
# CONFIG_PACKAGE_miniupnpd-nftables is not set
# CONFIG_PACKAGE_xtables-legacy=y
# CONFIG_PACKAGE_ebtables-legacy=y
# CONFIG_PACKAGE_ebtables-legacy-utils=y

CONFIG_PACKAGE_iptables-mod-fullconenat=y

CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-mod-socket=y
CONFIG_PACKAGE_iptables-mod-iprange=y

CONFIG_PACKAGE_iptables-mod-extra=y

# CONFIG_PACKAGE_nftables-json is not set
# CONFIG_PACKAGE_nftables-nojson is not set

# 杂项
CONFIG_PACKAGE_kmod-mtd-rw=y
# CONFIG_PACKAGE_kmod-ipt-nat=y
# CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tun=y
# CONFIG_PACKAGE_knot-host=y
# CONFIG_PACKAGE_mdns-utils=y
# CONFIG_PACKAGE_wireguard-tools=y

# openvpn 组件

CONFIG_PACKAGE_luci-app-openvpn-server-client=y
CONFIG_PACKAGE_openvpn-easy-rsa=m
CONFIG_PACKAGE_openvpn-openssl=m


CONFIG_PACKAGE_luci-app-tcpdump=m


