# Luci-app组件 MT798X
CONFIG_PACKAGE_luci-app-eqos-mtk=y


# Luci-app组件
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-dawn=y
CONFIG_PACKAGE_luci-app-iptvhelper=y
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-dnsfilter=y
CONFIG_PACKAGE_luci-app-libreswan=m
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-wireguard=m
CONFIG_PACKAGE_strongswan=m
CONFIG_PACKAGE_strongswan-swanctl=m
CONFIG_PACKAGE_luci-app-strongswan-swanctl=m
CONFIG_PACKAGE_ppp-mod-pppol2tp=m

CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-banmac-ipt=y
CONFIG_PACKAGE_luci-app-netem=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-parentcontrol=y

CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-vxlan=y
CONFIG_PACKAGE_luci-proto-openconnect=y
CONFIG_PACKAGE_luci-proto-openfortivpn=y
CONFIG_PACKAGE_luci-proto-sstp=y


# autoset组件
CONFIG_PACKAGE_autoset=y
CONFIG_PACKAGE_autoset_INCLUDE_temperature_script=y


CONFIG_PACKAGE_wget-ssl=y


# Curl 组件
# CONFIG_LIBCURL_MBEDTLS is not set
CONFIG_LIBCURL_OPENSSL=y
# CONFIG_PACKAGE_libustream-mbedtls is not set
CONFIG_PACKAGE_libustream-openssl=y
# CONFIG_PACKAGE_libmbedtls is not set

#
# Openssl Engine/Hardware Support
#
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_ENGINE_BUILTIN=y
CONFIG_OPENSSL_ENGINE_BUILTIN_AFALG=y
CONFIG_OPENSSL_ENGINE_BUILTIN_DEVCRYPTO=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libopenssl-gost_engine=y

# kmod network 组件



CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel6=y
CONFIG_PACKAGE_kmod-l2tp=y

CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-mppe=y
CONFIG_PACKAGE_kmod-ppp-synctty=y
CONFIG_PACKAGE_kmod-pppoa=y
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_kmod-pppol2tp=y
CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-pptp=y

CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y

CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tcp-hybla=y
CONFIG_PACKAGE_kmod-tcp-scalable=y

CONFIG_PACKAGE_kmod-wireguard=y

#  network firewall 组件
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_PACKAGE_kmod-ipt-offload=y

CONFIG_PACKAGE_miniupnpd-iptables=y
CONFIG_MINIUPNPD_IGDv2=y
# CONFIG_PACKAGE_miniupnpd-nftables is not set
CONFIG_PACKAGE_xtables-legacy=y
CONFIG_PACKAGE_ebtables-legacy=y
CONFIG_PACKAGE_ebtables-legacy-utils=y

CONFIG_PACKAGE_iptables-mod-fullconenat=y

CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-mod-socket=y
CONFIG_PACKAGE_iptables-mod-iprange=y

# CONFIG_PACKAGE_nftables-json is not set
# CONFIG_PACKAGE_nftables-nojson is not set

# openvpn 组件

CONFIG_PACKAGE_luci-app-openvpn-server-client=y
CONFIG_PACKAGE_openvpn-easy-rsa=y
CONFIG_PACKAGE_openvpn-openssl=y
CONFIG_PACKAGE_wireguard-tools=y

CONFIG_PACKAGE_luci-app-openclash=m
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_ip-full=y

# openclash iptables related
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_ruby=y
CONFIG_PACKAGE_ruby-yaml=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_unzip=y

CONFIG_PACKAGE_luci-app-passwall=m

CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_block-mount=y

CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-frps=m
CONFIG_PACKAGE_luci-app-tcpdump=y
CONFIG_PACKAGE_luci-app-omcproxy=y

CONFIG_PACKAGE_luci-app-natmap=y
CONFIG_PACKAGE_tailscale=y

CONFIG_PACKAGE_nand-utils=y
# Remove feed

CONFIG_FEED_lunatic7=n


